body{
    padding: 0px;
    margin: 0;
}

.tags-container{
    display: flex;
    flex: content;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
}